{% extends 'menuapp/layout.html' %}
{% load static %}

{% block content %}
<div class="bg-secondary-subtle p-4 border rounded shadow-sm">
    <h3 class="mb-3 text-secondary">Add Cattegory</h3>
    <form method="post">
        {% csrf_token %}

        {{form.as_p}}        
        <!-- <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
    
        <div class="mb-3">
            {{ form.is_active.label_tag }}
            {{ form.is_active }}
        </div> -->

        <div class="d-flex justify-content-between">
            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Cancel</a>
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </div>
    </form>
</div>

{% endblock %}